*{

  font-family: Century Gothic;
}

body{

  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/3.jpg);
  height: 50vh;
  background-size: cover;
  background-position: center;
}
.topnav {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-color: transparent;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  max-width: 1200px;
  margin: auto;
}

.topnav a:hover {
transition: 0.6s;
  color: #ff4500;
}

.topnav a.active {

  color: #ff4500;
}
.logo{
  color: white;
  float: left;
  
}
.logo em{
  color: #ff4500;
}



input[type=text], textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical
}
input[type=email] {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical 
}


input[type=submit] {
  background-color: #ff4500;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #464646;
}

.container {
  border-radius: 5px;
  background-color: #f1f1f1;
  padding: 20px;
}